#pictures {
    float: left;
    padding-top: 1%;
    padding-bottom: 0;
    margin-bottom: 0;
}
#dcLogo {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    width: 25%;
}
#dcPhoto {
    float: right;
    margin-left: 5%;
    width: 60%;
}
footer{
    margin-top: 0px;
    display: flex;
    padding-left: 35%;
    background-color: black;
}